.container-head{
	width: 100%;
	height: 50px;
	background-color:rgba(0,0,0,0.5);
	list-style:none;
	z-index:10;
}

.container-head h3 {
	bakcground-color: rgba(255,99,71,0.4);
	border-radius: 5px;
	font-size=10px;
	z-index=10;
}

.container-head li{
	float:right;
}
