ul	{
	list-style: none;
}
header {
	background-color: rgba(23,35,35,0.6);
	width: 100%;
	height: 65px;
}
.header-container{
	width: 1170px;
	margin: auto;
}
.header-left {
	float: left;
	display: block;
	color: white;
	margin-right: 5px;
	padding: auto;
}
.header-right li{
	float:left;
	padding: 20px;
	color: white;
}
.body-container {
	text-align: center;

}
.headline {
	display:none;
}
